html {
	font-family: Arial,sans-serif;
	font-size: 11pt;
	color: #000000;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #ffffff;
	text-align: center;
}

#main-content {
	border: 1px solid #000000;
	width: 650px;
	text-align: left;
	padding: 25px;
	margin-bottom: 25px;
}

#invoice {
	text-align: center;
	letter-spacing: 2.5pt;
}

#letterhead {
	text-align: center;
	font-size: 10pt;
}

#topinfo {
	width: 100%;
}

#billto {
	width: 50%;
	float: left;
}

#date {
	text-align: right;
	float: right;
	width:50%;
}

#event {
	width: 100%;
	clear: both;
}

#fees {
}

table {
	width: 100%;
	border: 1px solid;
	margin:0px;
	padding:0px;
}

tr {
	text-align: right;
}

td.left,th.left {
	text-align: left;
}

a:link, a:visited, a:hover {
	color: #000000;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 150%;
 padding-bottom: 3px;
 border-bottom: 2px solid #000;
 margin-top: 10px;
 margin-bottom: 3px;
}

h2{
 font-size: 130%;
}

h3{
 font-size: 100%;
}

h4{
 font-size: 100%;
 font-weight: normal;
}

h5{
 font-size: 100%;
}
