html {
	font-family: Arial,sans-serif;
	color: #000000;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #ffffff;
}

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
	font-size: 105%;
}
a:hover{
text-decoration:underline;
}

img {
	border: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	color: #006699;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 150%;
 padding-bottom: 3px;
 border-bottom: 2px solid #000;
 margin-top: 20px;
 margin-bottom: 15px;
}

h2{
 font-size: 114%;
 margin-bottom: 5px;
}

h3{
 font-size: 100%;
}

h4{
 font-size: 100%;
 font-weight: normal;
}

h5{
 font-size: 100%;
}

#header {
	margin: 0;
	padding: 10px 0px;
	width: 100%;
	background-color: #6D9EE1;
}

#logo {
    /*float: left;*/
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0;
    /* For text only logo */
    font-size: 1.4em;
    line-height: 1em;
    font-weight: bold;
}

#logo img {
    vertical-align: middle;
}

#pagename {
    display: inline;
    margin: 0 0.25em;
    padding: 0px 3px;
    font-size: 1.5em;
    color: white;
}

#main-content {
	padding: 10px;
	background-color: white;
}

#footer {
	margin: 10px;
	text-align: center;
}
