	<div id="fees-table">
		<h3 style="margin: 0; font-size: 100%;" >Conference Fees:</h3>
		<table style="width: 100%; border: 1px solid; margin:0px; padding:6px;">
			<tbody>
				<tr>
					<th style="font-weight: bold; padding: 3px; padding: 3px; text-align: left">Fee</th><th style="font-weight: bold; padding: 3px; padding: 3px; text-align: right">Rate</th><th style="font-weight: bold; padding: 3px; text-align: right">Quantity</th><th style="font-weight: bold; padding: 3px; text-align: right">Amount</th>
				</tr>
				{% if conference.feestructure.per_school != 0 %}
					<tr>
						<td style="padding: 3px; text-align: left">School Fee</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_school|floatformat:2 }}</td>
						<td style="padding: 3px; text-align: right">1</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_school|floatformat:2 }}</td>
					</tr>
				{% endif %}
				{% if conference.feestructure.per_country != 0 %}
					<tr>
						<td style="padding: 3px; text-align: left">Country Fee</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_country|floatformat:2 }}</td>
						<td style="padding: 3px; text-align: right">{{ school.get_delegations.keys|length }}</td>
						<td style="padding: 3px; text-align: right">${{ school.country_fee|floatformat:2 }}</td>
					</tr>
				{% endif %}
				{% if conference.feestructure.per_delegate != 0 %}
					<tr>
						<td style="padding: 3px; text-align: left">Delegate Fee</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_delegate|floatformat:2 }}</td>
						<td style="padding: 3px; text-align: right">{{ school.get_filled_delegate_positions|length }}</td>
						<td style="padding: 3px; text-align: right">${{ school.delegate_fee|floatformat:2 }}</td>
					</tr>
				{% endif %}
				{% if conference.feestructure.per_sponsor != 0 %}
					<tr>
						<td style="padding: 3px; text-align: left">Sponsor/Advisor Fee</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_sponsor|floatformat:2 }}</td>
						<td style="padding: 3px; text-align: right">{{ school.facultysponsor_set.count }}</td>
						<td style="padding: 3px; text-align: right">${{ school.sponsor_fee|floatformat:2 }}</td>
					</tr>
				{% endif %}
				{% if school.school_late_fee > 0 %}
					<tr>
						<td style="padding: 3px; text-align: left">School Registration Late Fee</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_school_late_fee|floatformat:2 }}</td>
						<td style="padding: 3px; text-align: right">1</td>
						<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_school_late_fee|floatformat:2 }}</td>
					</tr>
				{% endif %}
				{% if school.get_late_delegate_registrations|length > 0 %}
					{% if conference.feestructure.per_delegate_late_fee != 0 %}
						<tr>
							<td style="padding: 3px; text-align: left">Delegate Registration Late Fee</td>
							<td style="padding: 3px; text-align: right">${{ conference.feestructure.per_delegate_late_fee|floatformat:2 }}</td>
							<td style="padding: 3px; text-align: right">{{ school.get_late_delegate_registrations|length }}</td>
							<td style="padding: 3px; text-align: right">${{ school.delegate_late_fee|floatformat:2 }}</td>
						</tr>
					{% endif %}
				{% endif %}
				<tr><th style="font-weight: bold; padding: 3px; text-align: right" colspan="3">Total Fees</th><th style="font-weight: bold; padding: 3px; text-align: right">${{ school.total_fee|floatformat:2 }}</th></tr>
				<tr><th style="font-weight: bold; padding: 3px; text-align: right" colspan="3">Paid</th><th style="font-weight: bold; padding: 3px; text-align: right">${{ school.total_payments|floatformat:2 }}</th></tr>
				<tr><th style="font-weight: bold; padding: 3px; text-align: right" colspan="3">Balance Due</th><th style="font-weight: bold; padding: 3px; text-align: right">${{ school.balance_due|floatformat:2 }}</th></tr>
			</tbody>
		</table>
				
		<br/><br/>
		{% if conference.feestructure.per_school_late_fee != 0 %}
			Country preferences are due on {{ conference.feestructure.late_registration_start_date|date:"F jS" }}, after which late fees will be applied.<br/>
		{% endif %} 		
		{% if conference.feestructure.per_delegate_late_fee != 0 %}
			Delegate registration is due on {{ conference.feestructure.late_delegate_registration_start_date|date:"F jS" }}, after which late fees will be applied.<br/>
		{% endif %} 
		No refunds will be issued past {{ conference.feestructure.no_refunds_start_date|date:"F jS" }}. 
		<br/><br/>
		Please mail all payment to: <br/>
		<span style="padding-left: 30pt;">{{ conference.address_line_1 }}{% if conference.address_line_2 %}, {{ conference.address_line_2 }}{% endif %}<br/></span>
		<span style="padding-left: 30pt;">{{ conference.city }}, {{ conference.state }}{% if conference.zip %}, {{ conference.zip }}{% endif %}{% if conference.address_country %}, {{ conference.address_country }}{% endif %}<br/></span>
		Checks should be made out to {{ conference.organization_name }}.<br/><br/>
	</div>
