{% extends "base.html" %}

{% block title %}
Create New Conference
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_active and user.is_staff %}

<h1>Create New Conference</h1>

<form action="/new-conference/" method="post">{% csrf_token %}
<table>
{{ conference_form.as_table }}
</table>

<hr/>
Secretariat Username
<table>
{{ secretariat_form.as_table }}
</table>

<input type="submit" class="button" value="Submit" />
</form>
{% else %}
You do not have access to this page.
{% endif %}
{% endblock %}
