*.log
*.pyc
*.swp
*.swo
TODO
build/
dailydot_armstrong
Daily_Dot.egg-info/
.DS_Store
.env
.coverage
nosetests.xml
.cache/
.noseids
cover/
instrumental.xml
instrumental/
.idea
.env*
*.xml
*.dump
test.py
test_file.html
media/
