Django==1.5.4
Jinja2==2.7
MarkupSafe==0.18
Pillow==2.2.1
Pillow-PIL==0.1dev
South==0.8.2
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.5
django-toolbelt==0.0.1
gevent==0.13.8
greenlet==0.4.1
gunicorn==18.0
honcho==0.4.2
html5lib==0.99
ipdb==0.8
ipython==1.1.0
newrelic==2.0.0.1
psycopg2==2.5.1
pyPdf==1.13
recaptcha-client==1.0.6
reportlab==2.7
six==1.4.1
static==0.4
wsgiref==0.1.2
xhtml2pdf==0.0.5
