<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<script src="{{ MEDIA_URL }}/js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/js/jquery-ui-1.8.4.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/js/jquery.form.js" type="text/javascript" charset="utf-8"></script>
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/custom-theme/jquery-ui-1.8.4.custom.css">
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/base.css">

	<script type="text/javascript">
		$(function() {
			$( ".button" ).button();
			$('#tabs').tabs();
			$('li', '.errorlist').each(function() {
				$(this).replaceWith('<div class="ui-widget"><div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em;"><p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>' + this.innerHTML + '</p></div></div>');
			});
		});
	</script>
	<script type="text/javascript">
	{% block scriptblock %}{% endblock %}
	</script>

	{% block headblock %}{% endblock %}

</head>
<body>
<div class="wrapper">
	<div class="ui-widget ui-widget-header ui-state-active ui-corner-all top-user-bar">
		<div class="top-user-bar-left">
			{% if user.username %}
				You are logged in as <span style="font-weight: bold">{{ user.username }}</span> (<a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a> / <a href="{% url django.contrib.auth.views.password_change %}">Change Password</a>)
			{% else %}
				<a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">Login</a> / 
				<a href="/accounts/register/?next={{ request.path }}">Register</a>
			{% endif %}
		</div>
		<div class="top-user-bar-right">
			<small>
			Please be patient - we are still developing this site! If you experience issues, email <a href="mailto:registration@ctmun.org">registration@ctmun.org</a>
			</small>
		</div>
	</div>
	
	<noscript>
	<div class="ui-widget ui-state-error ui-corner-all no-javascript">
		<p>
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
		You do not have Javascript enabled in your web browser. Please enable Javascript before using this site.
		</p>
	</div>
	</noscript>
	
	<div class="container">
		{% block content %}{% endblock %}
	</div>
</div>

</body>
</html>
