{% extends "base.html" %}

{% block title %}
{{ conference.name }} - Register New School
{% endblock %}

{% block content %}

<h1>Register new school for {{ conference.name }}</h1>

{% if user.is_staff or user.secretariat_member %}

You cannot create a new school as a staff member. Faculty sponsors must individually register their school.

{% else %}

<form action="/registration/{{ conference.url_name }}/new-school/" method="post">
<h2>School Information</h2>
    {% for field in school_form %}
        <div class="fieldWrapper"><p>
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }} <span id="{{ field.html_name }}">{{ field.help_text }}</span>
        </p></div>
    {% endfor %}

{% if not user.is_authenticated %}
<hr/>
<h2>Faculty Sponsor Information</h2>
Please enter information about yourself; you will have the opportunity to invite other sponsors to this school's account later.
    {% for field in sponsor_form %}
        <div class="fieldWrapper"><p>
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }} <span id="{{ field.html_name }}">{{ field.help_text }}</span>
        </p></div>
    {% endfor %}
{% endif %}

  <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LeeursSAAAAAK4mIpjQvTSeXlbf9zBnOduzYbCq">
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeeursSAAAAAK4mIpjQvTSeXlbf9zBnOduzYbCq"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>

<input type="submit" class="button" value="Submit" />
</form>
{% endif %}

{% endblock %}
