{% extends "base.html" %}

{% block title %}
{{ object.name }} Administration
{% endblock %}

{% block content %}
{% load infilters %}
{% if user.is_authenticated and user.is_active %}
	{% if user.is_staff or user.secretariat_member and object|in_list:user.secretariat_member.conferences %}
		{% block pagecontent %}{% endblock %}
	{% else %}
	<div style="text-align:center; width:400px; padding-top:20px; margin: 0 auto">
		You do not have access to this page. If you are a secretariat member for this conference, please contact a secretariat member to have access granted on your user account.
	</div> 
	{% endif %}
{% else %}
<div style="text-align:center">
    <p>You must be logged in to view this page.</p>
    <p><a class="button" href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">Login</a></p>
    <p><a class="button" href="/accounts/register/?next={{ request.path }}">Register</a></p>
</div>
{% endif %}
{% endblock %}
