	<!-- style CSS has to go inside the html page for pisa HTML-to-PDF library; external stylesheets won't work -->
	<style>
		body { 
			font-size: 14px;
			font-family: Verdana, sans-serif;
			text-align: left;
			{% if format == "pdf" %}
				line-height:16px;
			{% endif %}
			padding: 0px;
			margin: 0px;
		}

		#invoice {
			text-align: center;
			margin-bottom:15px;
		}
		
		img {
			height: 100px;
			vertical-align: text-bottom;
			padding: 0;
			margin: 0;
		}
		
		#billto {
			text-align: left;
		}
		
		#date {
			text-align: right;
		}
		
		#event {
			{% if format == "doc" %}
				margin-top: 15px;
			{% endif %}
			margin-bottom: 15px;
		}
		
		table,tr,td,th {
			border: 0px;
			margin: 0;
			padding: 0;
		}
		
		table.topinfo {
			width: 100%;
			margin:0px;
			padding:0px;
		}

		td.topinfo {
			width: 50%;
			vertical-align: top;
		}
		
		td.conference-title{
			margin: 0;
			{% if format == "pdf" %}
				padding-bottom: 1px;
			{% endif %}
			font-size: 15pt;
			vertical-align: bottom;
			line-height:0px;
		}
		
		td.logo {
			{% load mathfilters %} 
			width: {{ conference.logo_width|mult:"100"|div:conference.logo_height }}px;
			margin: 0;
			{% if format == "pdf" %}
				padding-bottom: 3px;
			{% endif %}
			text-align: right;
		}
		
		table.header {
			width: 100%;
			margin: 0;
		}
		
		p.header {
			padding: 0;
			margin: 0;
			text-align: left;
			font-size: 9pt;
			margin-bottom: 15px;
			{% if format == "pdf" %}
				padding-bottom: 15px;
			{% endif %}
		}
		
		hr {
			color: #000;
			background-color: #000;
			height: 2px;
			padding: 0px;
			{% if format == "doc" %}
				margin: 0px;
			{% else %}
				margin-top:10px;
				margin-bottom:7px;
			{% endif %}
		}
		
		h2.invoice{
			margin: 0;
			font-size: 200%;
			{% if format == "pdf" %}
				padding-bottom: 15px;
			{% endif %}
		}
		
		h3.invoice{
			margin: 0;
			padding: 0;
			font-size: 100%;
			{% if format == "pdf" %}
				margin-top: 15px;
			{% endif %}
		}
		
		@page {
			size: letter;
			margin: 1in;
		}
	
	</style>
