	<!-- style CSS has to go inside the html page for pisa HTML-to-PDF library; external stylesheets won't work -->
	<style>
		#invoice {
			text-align: center;
			margin-bottom:15px;
		}
		
		#letterhead {
			text-align: left;
			font-size: 10pt;
			margin-bottom: 15px;
		}
		
		img {
			height: 100px;
			vertical-align: text-bottom;
		}
		
		#billto {
			text-align: left;
		}
		
		#date {
			text-align: right;
		}
		
		#event {
			margin-bottom: 15px;
		}
		
		table,tr,td,th {
			border: 0px;
		}
		
		table.topinfo {
			width: 100%;
			margin:0px;
			padding:0px;
			margin-bottom: 15px;
		}

		td.topinfo {
			width: 50%;
			vertical-align: top;
		}
		
		td.conference-title{
			margin: 0;
			padding-bottom: 5px;
			font-family: Verdana,Arial,sans-serif;
			font-size: 15pt;
			vertical-align: bottom;
			line-height:0px;
		}
		
		td.logo {
			{% load mathfilters %} 
			width: {{ conference.logo_width|mult:"100"|div:conference.logo_height }}px;
			margin: 0;
			padding-bottom: 5px;
			text-align: right;
		}
		
		table.header {
			width: 100%;
			margin: 0;
			margin-bottom: 15px;
		}
		
		td.header {
			padding-top: 5px;
		}
		
		tr.header {
			border-bottom: 2px solid #000;
		}
		
		h2.invoice{
			margin: 0;
			font-size: 200%;
		}
		
		h3.invoice{
			margin: 0;
			font-size: 100%;
		}
		
		@page {
			size: letter;
			margin: 1in;
		}
	
	</style>
