{% extends "secretariat_base.html" %}

{% block headblock %}
	<script src="{{ MEDIA_URL }}/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>	
	<script src="{{ MEDIA_URL }}/js/dataTables.fnAddTr.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/js/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/js/jquery.metadata.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/js/autoNumeric-1.5.4.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block scriptblock %}
var committeeTable;
var countryTable;

function form_cleanup() {
	$('input#id_date').datepicker();
	$('input#id_late_registration_start_date').datepicker();
	$('input.auto').each(function() {
		$(this).autoNumeric();
		$(this).val($.fn.autoNumeric.Format($(this).attr("id"), $(this).val()));
	});
}

function form_committee_row(committee) {
	var name;
	if(typeof( committee.fields ) != "undefined")
		name = committee.fields.name;
	else
		name = committee.name;

	row_html = "<tr pk=\"" + committee.pk + "\">";
	row_html += "<td class=\"name\" id=\"name_" + committee.pk + "\">" + name + "</td>";
	row_html += "<td class=\"delete\" id=\"" + committee.pk + "\"><a href=\"delete\" id=\"delete_committee\" title=\"Delete\"><span class=\"ui-icon ui-icon-closethick\"></span></a></td></tr>";
	return row_html;
}

function form_country_row(country) {
	name = country.fields.name;
	icon = country.fields.flag_icon;

	row_html = "<tr pk=\"" + country.pk + "\">";
	row_html += "<td class=\"icon\" id=\"icon_" + country.pk + "\">";
	if(icon.length > 0)
		row_html += "<img src=\"{{ MEDIA_URL }}/" + icon + "\" height=\"22\"/>";
	row_html += "</td><td class=\"name\" id=\"name_" + country.pk + "\">" + name + "</td>";
	row_html += "<td class=\"delete\" id=\"" + country.pk + "\"><a href=\"delete\" id=\"delete_country\" title=\"Delete\"><span class=\"ui-icon ui-icon-closethick\"></span></a></td></tr>";
	return row_html;
}

function get_formset_callback(data, table_headers, column_settings, column_sorting, data_table, object_name, dialog_element, form_element, row_renderer) {
    output = "<p>Click on any " + object_name + " name to edit it; press Enter to save your changes.</p>";
    output += "<table id=\"existing_" + object_name + "\"><thead><tr>";
    for(i = 0; i < table_headers.length; i++) {
    	output += "<th>" + table_headers[i] + "</th>";
    }
    output += "</tr></thead><tbody>";
    
    parsed_objects = jQuery.parseJSON(data.objects);
    for (i = 0; i < parsed_objects.length; i++) {
        output += row_renderer(parsed_objects[i]);
    }
    output += "</tbody></table>";
    
    output += "<p>Add " + object_name + ":</p>";
    output += "<form enctype=\"multipart/form-data\" action=\"ajax/add-"+object_name+"\" method=\"post\" id=\"" + form_element.replace('#','') + "\">";
    output += data.form;
    output += "<input value=\"Add\" type=\"submit\" id=\"add_" + object_name + "\">";
    output += "</form>";
	
    $('.loading').remove();
    $(dialog_element).html(output);
    $("input:submit").button();
    
    $(form_element).ajaxForm({ 
    	dataType:	'json',
        success:   function(return_data) {
			if(return_data != null && return_data.form != null) {
	  			// re-load form with errors
				decoded = $('<textarea/>').html(return_data.form).val();
		        $(form_element).html(decoded);
	  			$(form_element).append("<input value=\"Add\" type=\"submit\" id=\"add_" + object_name + "\">");
	  		    $("input:submit").button();
			} else {
				// add the new object to the table
				$(form_element).resetForm();
				var row = row_renderer(return_data);
				data_table.fnAddTr( $(row)[0] );
			}
		}
    });
    
	$('a#delete_'+object_name).click(function(event) {
		$.post(
			'ajax/remove-'+object_name,
			{'pk': $(event.target.parentNode.parentNode).attr("id")},
			function(data) {
				var aTrs = data_table.fnGetNodes();
				for ( var i=0 ; i<aTrs.length ; i++ )
				{
					if ( $(aTrs[i]).attr('pk') == data.pk )
					{
						data_table.fnDeleteRow( aTrs[i] );
						break;
					}
				}
			},
			'json'
		);
		return false;
	});
    
	data_table = $('table#existing_'+object_name).dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"aoColumns": column_settings,
		"aaSorting": column_sorting,
		"fnDrawCallback": function(){
	     	$('td','table#existing_'+object_name).bind('mouseenter', function () { $(this).parent().children().each(function(){ $(this).addClass('datatablerowhighlight'); }); });
	     	$('td','table#existing_'+object_name).bind('mouseleave', function () { $(this).parent().children().each(function(){$(this).removeClass('datatablerowhighlight');}); });
		}
	});
	
	/* Apply the jEditable handlers to the table */
	$('td.name', data_table.fnGetNodes()).editable( 'ajax/edit-'+object_name, {
		"callback": function( sValue, y ) {
			var aPos = data_table.fnGetPosition( this );
			data_table.fnUpdate( sValue, aPos[0], aPos[1] );
		},
		"submitdata": function ( value, settings ) {
			return { "row_id": this.parentNode.getAttribute('id') };
		},
		"height": "25px"
	} );
	
	data_table.fnAdjustColumnSizing();
}

function isNumeric(value) {
	if (value == null || !value.toString().match(/^[-]?\d*\.?\d*$/)) return false;
	return true;
}

function gen_uuid() {
    var uuid = ""
    for (var i=0; i < 32; i++) {
        uuid += Math.floor(Math.random() * 16).toString(16); 
    }
    return uuid
}

function get_delegate_positions_callback(data, dialog_element) {
    output = "<p>Click on any number to edit the number of delegates represented by that country on that committee. Press Enter to save your changes.</p>";
    
    // table headers
    output += "<table id=\"delegate_positions\">";
    output += data.table;
    output += "</table>";
    
    $('.loading').remove();
    $('#positions-assignment-table').html(output);
    
	data_table = $('table#delegate_positions').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"fnDrawCallback": function(){
	     	$('td','table#delegate_positions').bind('mouseenter', function () { $(this).parent().children().each(function(){ $(this).addClass('datatablerowhighlight'); }); });
	     	$('td','table#delegate_positions').bind('mouseleave', function () { $(this).parent().children().each(function(){$(this).removeClass('datatablerowhighlight');}); });
		}
	});
	
	/* Apply the jEditable handlers to the table */
	$('td.position_count', data_table.fnGetNodes()).editable( 'ajax/set-delegate-positions', {
		"onsubmit": function(settings, td) {
	    	var input = $(td).find('input');
	        var original = input.val();
	        if (isNumeric(original)) {
	            return true;
	        } else {
	            input.css('background-color','#c00').css('color','#fff');
	            return false;
	        }
	    },
		"callback": function( sValue, y ) {
			var aPos = data_table.fnGetPosition( this );
			data_table.fnUpdate( sValue, aPos[0], aPos[1] );
		},
		"submitdata": function ( value, settings ) {
			return { "row_id": this.parentNode.getAttribute('id') };
		},
		"height": "25px"
	} );
	
	data_table.fnAdjustColumnSizing();
}

function get_school_country_assignments_callback(data, selectSource, dialog_element) {
    output = "<p>Click in the School column to change the school assigned to that country.</p>";
    
    // table headers
    output += "<table id=\"school_country_assignments\">";
    output += data.table;
    output += "</table>";
    
    $('.loading').remove();
    $('#school-country-assignment-table').html(output);
    
	data_table = $('table#school_country_assignments').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"fnDrawCallback": function(){
	     	$('td','table#school_country_assignments').bind('mouseenter', function () { $(this).parent().children().each(function(){ $(this).addClass('datatablerowhighlight'); }); });
	     	$('td','table#school_country_assignments').bind('mouseleave', function () { $(this).parent().children().each(function(){$(this).removeClass('datatablerowhighlight');}); });
		}
	});
	
	/* Apply the jEditable handlers to the table */
	$('td.school_assignment', data_table.fnGetNodes()).editable( 'ajax/set-country-school-assignments', {
		data   : selectSource,
	    type   : 'select',
	    submit : 'OK',
	    placeholder: "Click to assign school", 
		"callback": function( sValue, y ) {
			var aPos = data_table.fnGetPosition( this );
			data_table.fnUpdate( sValue, aPos[0], aPos[1] );
		},
		"submitdata": function ( value, settings ) {
			return { "row_id": this.parentNode.getAttribute('id') };
		},
		"height": "25px"
	} );
	
	data_table.fnAdjustColumnSizing();
}

function form_dialog(dialog_width, dialog_element, dialog_link_element, form_element, ajax_get_url) {
	$(dialog_element).dialog({
		autoOpen: false,
		width: dialog_width,
		modal: true,
		resizable: false,
		position: 'top',
		close: function(event, ui) {
			$(dialog_element).html("");
		},
		buttons: {
			"Save": function() {
				$('input.auto').each(function() {
					$(this).val($.fn.autoNumeric.Strip($(this).attr("id"), $(this).val()));
				});

		 		$(form_element).ajaxSubmit({
		 			dataType:	'json',
		 			success:	function(data) {
						if(data != null && data.form != null) {
				  			// re-load form with errors
				  			$(form_element).html(data.form);
				  			form_cleanup();
						} else {
							$(dialog_element).dialog("close");
						}
					}
		 		}); 
			},
			"Cancel": function() {
				$(this).dialog("close");
			}
		}
	});
		  
	$(dialog_link_element).click(function(){
		$.get(
			"ajax/" + ajax_get_url,
			function(data) {
				$('.loading').remove();
	  			$(dialog_element).html(data.form);
	  			form_cleanup();
			},
			"json"
		);
	
		$(dialog_element).append('<p style="text-align: center" class="loading"><img src="{{MEDIA_URL}}/icons/ajax-loader.gif"/><br/><br/>Loading...</p>');
		$(dialog_element).dialog('open');
		return false;
	});
}

function formset_dialog(dialog_width, dialog_element, dialog_link_element, form_element, ajax_get_url, table_headers, column_settings, column_sorting, data_table, object_name, row_renderer) {
	$(dialog_element).dialog({
		autoOpen: false,
		width: dialog_width,
		modal: true,
		resizable: false,
		position: 'top',
		close: function(event, ui) {
			$(dialog_element).html("");
		},
		buttons: {
			"Close": function() {
				$(this).dialog("close");
			}
		}
	});
		  
	$(dialog_link_element).click(function(){
		$.get(
			"ajax/" + ajax_get_url,
			function(data) {
				if(get_formset_callback != undefined)
					get_formset_callback(data, table_headers, column_settings, column_sorting, data_table, object_name, dialog_element, form_element, row_renderer);
			},
			"json"
		);
	
		$(dialog_element).append('<p style="text-align: center" class="loading"><img src="{{MEDIA_URL}}/icons/ajax-loader.gif"/><br/><br/>Loading...</p>');
		$(dialog_element).dialog('open');
		return false;
	});
}

var progressTimer;
$(function(){
	$( '#tab-links a' ).button();
	$('#tab-links a').click(function() {
		$('.secretariat-pane').hide();
		$('#' + $(this).attr("href")).show();
		return false;
	});

	form_dialog(500, '#basic-conference-form-dialog', '#basic-conference-form-dialog-link', '#basic_conference_info_form', "get-basic-conference-form");

	form_dialog(500, '#fee-form-dialog', '#fee-form-dialog-link', '#fee_structure_info_form', "get-fee-structure-form");

	committeeHeaders = ['Name','Delete'];
	committeeColumnSettings = [ 
	               			/* Name */  	null,
	            			/* Delete */ 	{ "bSearchable": false, "bSortable": false }
	            		];
	committeeColumnSorting = [[ 0, "asc" ]]
	formset_dialog(800, '#committees-form-dialog', '#committees-form-dialog-link', '#new_conference_committees_form',
		"get-conference-committees", committeeHeaders, committeeColumnSettings, committeeColumnSorting, committeeTable, 'committee', form_committee_row);

	countryHeaders = ['Flag','Name','Delete'];
	countryColumnSettings = [ 
	             			/* Icon */  	{ "bSearchable": false, "bSortable": false },
	            			/* Name */  	null,
	            			/* Delete */ 	{ "bSearchable": false, "bSortable": false }
	            		];
	countryColumnSorting = [[ 1, "asc" ]]
	formset_dialog(800, '#countries-form-dialog', '#countries-form-dialog-link', '#new_conference_countries_form',
		"get-conference-countries", countryHeaders, countryColumnSettings, countryColumnSorting, countryTable, 'country', form_country_row);

	var schoolSelectSource = "{ '-1':' ', {% for school in object.school_set.all %} \
		'{{ school.pk }}':'{{ school.name }}', \
	{% endfor %} }";
 	
	var availableSchools = [{% for school in object.school_set.all %}
				"{{ school.name }}", 
			{% endfor %}];
	$(".search-schools input#id_name").autocomplete({
		source: availableSchools
	});
	
	$('#committees-to-countries-form-dialog').dialog({
		autoOpen: false,
		width: 800,
		modal: true,
		resizable: false,
		position: 'top',
		close: function(event, ui) {
			$('#positions-assignment-table').html("");
			$.post('ajax/cleanup-country-preferences');
		},
		buttons: {
			"Close": function() {
				$(this).dialog("close");
			}
		}
	});
	
	$('#committees-to-countries-form-dialog-link').click(function(){
		$.get(
			"ajax/get-delegate-positions",
			function(data) {
				get_delegate_positions_callback(data, '#committees-to-countries-form-dialog', '#committees-to-countries-form');
			},
			"json"
		);
	
		$('#committees-to-countries-form-dialog').append('<p style="text-align: center" class="loading"><img src="{{MEDIA_URL}}/icons/ajax-loader.gif"/><br/><br/>Loading...</p>');
		$('#committees-to-countries-form-dialog').dialog('open');
		return false;
	});
	
    $('form#upload-delegate-positions-form').ajaxForm({ 
    	dataType:	'json',
    	beforeSubmit: function(formData, form, options) {
    		if ($.data(form, 'submitted')) return false;
	
	        var freq = 1000; // freqency of update in ms
	        var uuid = gen_uuid(); // id for this upload so we can fetch progress info.
	        var progress_url = '/registration/upload-progress/'; // ajax view serving progress info
	
	        // Append X-Progress-ID uuid to form data
	        formData.push({ "name": "X-Progress-ID", "value": uuid });
	        
	        $('#upload-delegate-positions-progress').progressbar({ value: 0 });
	        
	        // Update progress bar
	        function update_progress_info() {
	            $.getJSON(progress_url, {'X-Progress-ID': uuid}, function(data, status){
	                if (data) {
	                    var progressPercent = parseInt(100*parseInt(data.uploaded) / parseInt(data.length));
	        	        $("#upload-delegate-positions-progress").progressbar("option", "value", progressPercent);

	                    if(progressPercent < 100)
	                    	progressTimer = window.setTimeout(update_progress_info, freq);
	                }
	            });
	        };
	        progressTimer = window.setTimeout(update_progress_info, freq);
	
	        $.data(form, 'submitted', true); // mark form as submitted.
	        return true;
    	},
        success:   function(return_data) {
    		window.clearTimeout(progressTimer);
    		$('#upload-delegate-positions-progress').progressbar("destroy");
    		$('div#upload-delegate-positions-form .ui-state-error').remove();
			if(return_data != null) {
				if(return_data.errors != null) {
		  			// show errors
					output = "<div style=\"padding: 0pt 0.7em;\" class=\"ui-state-error ui-corner-all\"> <p><span style=\"float: left; margin-right: 0.3em;\" class=\"ui-icon ui-icon-alert\"></span> ";
					for(i = 0; i < return_data.errors.length; i++) {
						output += return_data.errors[i] + "<br/>";
					}
					output += "</p></div>";
					
					$('div#upload-delegate-positions-form').append(output);
				}
				if(return_data.table != null) {
					// refresh the delegate positions table
					return_data.table = $('<textarea/>').html(return_data.table).val();
					get_delegate_positions_callback(return_data, '#committees-to-countries-form-dialog', '#committees-to-countries-form');
				}
			}
		}
    });

	$('#countries-to-schools-form-dialog').dialog({
		autoOpen: false,
		width: 800,
		modal: true,
		resizable: false,
		position: 'top',
		close: function(event, ui) {
			$('#school-country-assignment-table').html("");
			$.post('ajax/cleanup-country-preferences');
		},
		buttons: {
			"Close": function() {
				$(this).dialog("close");
			}
		}
	});
	
	$('#countries-to-schools-form-dialog-link').click(function(){
		$.get(
			"ajax/get-country-school-assignments",
			function(data) {
				get_school_country_assignments_callback(data, schoolSelectSource, '#countries-to-schools-form-dialog');
			},
			"json"
		);
	
		$('#countries-to-schools-form-dialog').append('<p style="text-align: center" class="loading"><img src="{{MEDIA_URL}}/icons/ajax-loader.gif"/><br/><br/>Loading...</p>');
		$('#countries-to-schools-form-dialog').dialog('open');
		return false;
	});
					
    $('form#upload-school-country-assignments-form').ajaxForm({ 
    	dataType:	'json',
    	beforeSubmit: function(formData, form, options) {
    		if ($.data(form, 'submitted')) return false;
	
	        var freq = 1000; // freqency of update in ms
	        var uuid = gen_uuid(); // id for this upload so we can fetch progress info.
	        var progress_url = '/registration/upload-progress/'; // ajax view serving progress info
	
	        // Append X-Progress-ID uuid to form data
	        formData.push({ "name": "X-Progress-ID", "value": uuid });
	        
	        $('#upload-school-country-assignments-progress').progressbar({ value: 0 });
	        
	        // Update progress bar
	        function update_progress_info() {
	            $.getJSON(progress_url, {'X-Progress-ID': uuid}, function(data, status){
	                if (data) {
	                    var progressPercent = parseInt(100*parseInt(data.uploaded) / parseInt(data.length));
	        	        $("#upload-school-country-assignments-progress").progressbar("option", "value", progressPercent);

	                    if(progressPercent < 100)
	                    	progressTimer = window.setTimeout(update_progress_info, freq);
	                }
	            });
	        };
	        progressTimer = window.setTimeout(update_progress_info, freq);
	
	        $.data(form, 'submitted', true); // mark form as submitted.
	        return true;
    	},
        success:   function(return_data) {
    		window.clearTimeout(progressTimer);
    		$('#upload-school-country-assignments-progress').progressbar("destroy");
    		$('div#upload-school-country-assignments-form .ui-state-error').remove();
			if(return_data != null) {
				if(return_data.errors != null) {
		  			// show errors
					output = "<div style=\"padding: 0pt 0.7em;\" class=\"ui-state-error ui-corner-all\"> <p><span style=\"float: left; margin-right: 0.3em;\" class=\"ui-icon ui-icon-alert\"></span> ";
					for(i = 0; i < return_data.errors.length; i++) {
						output += return_data.errors[i] + "<br/>";
					}
					output += "</p></div>";
					
					$('div#upload-school-country-assignments-form').append(output);
				}
				if(return_data.table != null) {
					// refresh the delegate positions table
					return_data.table = $('<textarea/>').html(return_data.table).val();
					get_school_country_assignments_callback(return_data, schoolSelectSource, '#countries-to-schools-form-dialog');
				}
			}
		}
    });

});

{% endblock %}

{% block pagecontent %}
<div class="header">
<h1>{{ object.name }} Registration</h1>
<h3>Secretariat Access</h3>
</div>

<div id="tab-links">
	<div class="tab-link"><a href="stats"><img class="tab-link" src="{{MEDIA_URL}}/icons/kpercentage.png" /><br/>Statistics</a></div>
	<div class="tab-link"><a href="spreadsheets"><img class="tab-link" src="{{MEDIA_URL}}/icons/kchart.png" /><br/>Spreadsheets</a></div>
	<div class="tab-link"><a href="schools"><img class="tab-link" src="{{MEDIA_URL}}/icons/kdmconfig.png" /><br/>Schools</a></div>
	<div class="tab-link"><a href="fees"><img class="tab-link" src="{{MEDIA_URL}}/icons/emblems-money.png" /><br/>Fees</a></div>
	<div class="tab-link"><a href="store"><img class="tab-link" src="{{MEDIA_URL}}/icons/shopping_trolley.png" /><br/>Store</a></div>
	<div class="tab-link"><a href="settings"><img class="tab-link" src="{{MEDIA_URL}}/icons/kcmsystem.png" /><br/>Settings</a></div> 
</div>
	
<div id="stats" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	{% if object.delegates %}
	Registered delegates: {{ object.delegates|length }}
	{% else %}
	No registered delegates.
	{% endif %}
</div>

<div id="spreadsheets" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	<a href="downloads/?sponsor-contacts">Sponsor Contact Info Spreadsheet</a><br/>
	<a href="downloads/?delegates">Delegates Spreadsheet</a><br/>
	<br/>
	<a href="downloads/?school-country-assignments">School-Country Assignments</a><br/>
	<a href="downloads/?country-committee-assignments">Country-Committee Assignments</a><br/>
	<br/>
	<a href="downloads/?country-preferences">Country Preferences</a><br/>
</div>

<div id="schools" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
Search:
	<form method="post" action="see-school" class="search-schools">
		<input id="id_name" name="name"/>
		<input type="submit" name="submitschool" value="Go">
	</form>

Select from list:
	<form method="post" action="see-school">
		<select id="id_name" name="name">
			{% for school in object.school_set.all %}
				<option value="{{ school.name }}">{{ school.name }}</option>
			{% endfor %}
		</select>
		<input type="submit" name="submitschool" value="Go">
	</form>
</div>

<div id="fees" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	<p>
	Total Revenue: <br/>
	Total Due: <br/>
	</p>
	<p>
	<a href="invoices">All Invoices</a>
	</p>
</div>

<div id="store" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
<p>
Total Revenue: <br/>
Total Due: <br/>
</p>
<p>
<a href="purchases">All Purchases</a>
</p>
</div>

<div id="settings" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	<p><a href="#" id="basic-conference-form-dialog-link">Basic Conference Information</a></p>
	<div id="basic-conference-form-dialog" title="Basic Conference Information"></div>
	
	<p><a href="#" id="fee-form-dialog-link">Fee Structure</a></p>
	<div id="fee-form-dialog" title="Conference Fee Structure"></div>
	
	<p><a href="#" id="countries-form-dialog-link">Countries</a></p>
	<div id="countries-form-dialog" title="Conference Countries"></div>
	
	<p><a href="#" id="committees-form-dialog-link">Committees</a></p>
	<div id="committees-form-dialog" title="Conference Committees"></div>
	
	<p><a href="#" id="committees-to-countries-form-dialog-link">Assign Committees to Countries</a></p>
	<div id="committees-to-countries-form-dialog" title="Assign committees to countries">
		<div id="upload-delegate-positions-form">
			<p>Import a spreadsheet containing the country-committee assignments.  The formatting must be the same as the downloaded spreadsheet (available <a href="downloads/?country-committee-assignments">here</a>). Only CSV files are accepted.</p>
			<form enctype="multipart/form-data" action="ajax/upload-delegate-positions" method="post" id="upload-delegate-positions-form">
				<label for="id_file">Upload:</label> <input type="file" name="file" id="id_file" accept="text/csv" />
			<input type="submit" value="Submit" />
			</form>
			<div id="upload-delegate-positions-progress" class="upload-progress"></div>
		</div>
		<div id="positions-assignment-table"></div>
	</div>
	
	<p><a href="#" id="countries-to-schools-form-dialog-link">Assign Countries to Schools</a></p>
	<div id="countries-to-schools-form-dialog" title="Assign countries to schools">
	<div id="upload-school-country-assignments-form">
		<p>Import a spreadsheet containing the country-school assignments.  The formatting must be the same as the downloaded spreadsheet (available <a href="downloads/?school-country-assignments">here</a>). Only CSV files are accepted.</p>
		<form enctype="multipart/form-data" action="ajax/upload-school-country-assignments" method="post" id="upload-school-country-assignments-form">
			<label for="id_file">Upload:</label> <input type="file" name="file" id="id_file" accept="text/csv" />
		<input type="submit" value="Submit" />
		</form>
		<div id="upload-school-country-assignments-progress" class="upload-progress"></div>
	</div>
	<div id="school-country-assignment-table"></div>
</div>
</div>

{% endblock %}
