{% extends "secretariat_base.html" %}

{% block scriptblock %}

function form_dialog(dialog_element, dialog_link_element, form_element, dajax_get_func, dajax_save_func, dialog_width) {
	$(dialog_element).dialog({
		autoOpen: false,
		width: dialog_width,
		modal: true,
		resizable: false,
		buttons: {
			"Save": function() {
				data = $(form_element).serializeObject(true);
				dajax_save_func('Dajax.process', {'form':data,'conference_pk': {{object.pk}}});
				$(this).dialog("close");
			},
			"Cancel": function() {
				$(this).dialog("close");
			}
		}
	});
		  
	$(dialog_link_element).click(function(){
		dajax_get_func('Dajax.process', {'conference_pk': {{object.pk}}});
		$(dialog_element).dialog('open');
		return false;
	});
}

$(function(){

	form_dialog('#basic-conference-form-dialog', '#basic-conference-form-dialog-link', '#basic_conference_info_form',
		Dajaxice.regimun_app.get_basic_conference_form, Dajaxice.regimun_app.save_basic_conference_form, 400);

	form_dialog('#fee-form-dialog', '#fee-form-dialog-link', '#conference_fees_form',
		Dajaxice.regimun_app.get_conference_fees_form, Dajaxice.regimun_app.save_conference_fees_form, 400);

	form_dialog('#countries-form-dialog', '#countries-form-dialog-link', '#conference_countries_form',
		Dajaxice.regimun_app.get_conference_countries_formset, Dajaxice.regimun_app.save_conference_countries_formset, 400);

	form_dialog('#committees-form-dialog', '#committees-form-dialog-link', '#conference_committees_form',
		Dajaxice.regimun_app.get_conference_committees_formset, Dajaxice.regimun_app.save_conference_committees_formset, 400);

        $('#committees-to-countries-form-dialog').dialog({
            autoOpen: false,
            width: 400,
            modal: true,
            resizable: false,
            buttons: {
                "Save": function() {
                	data = $('#conference_committees_to_countries_form').serializeObject(true);
                   	Dajaxice.regimun_app.save_conference_committees_to_countries_form('Dajax.process', {'form':data,'conference_pk': {{object.pk}}});
                   	$(this).dialog("close");
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });
        
        $('#committees-to-countries-form-dialog-link').click(function(){
			Dajaxice.regimun_app.get_conference_committees_to_countries_form('Dajax.process', {'conference_pk': {{object.pk}}});
			$('#committees-to-countries-form-dialog').dialog('open');
			return false;
		});

        $('#countries-to-schools-form-dialog').dialog({
            autoOpen: false,
            width: 400,
            modal: true,
            resizable: false,
            buttons: {
                "Save": function() {
                	data = $('#conference_countries_to_schools_form').serializeObject(true);
                   	Dajaxice.regimun_app.save_conference_countries_to_schools_form('Dajax.process', {'form':data,'conference_pk': {{object.pk}}});
                   	$(this).dialog("close");
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });
        
        $('#countries-to-schools-form-dialog-link').click(function(){
			Dajaxice.regimun_app.get_conference_countries_to_schools_form('Dajax.process', {'conference_pk': {{object.pk}}});
			$('#countries-to-schools-form-dialog').dialog('open');
			return false;
		});
				
});

{% endblock %}

{% block pagecontent %}
<h1>{{ object.name }} Secretariat Dashboard</h1>

<h2>Stats</h2>
{% if object.delegates %}
Registered delegates: {{ object.delegates|length }}
{% else %}
No registered delegates.
{% endif %}

<h2>Spreadsheets</h2>

<a href="downloads/?sponsor-contacts">Sponsor Contact Info Spreadsheet</a><br/>
<a href="downloads/?delegates">Delegates Spreadsheet</a><br/>
<br/>
<a href="downloads/?school-country-assignments">School-Country Assignments</a><br/>
<a href="downloads/?country-committee-assignments">Country-Committee Assignments</a><br/>

<h2>School Information</h2>
<form method="post" action="see-school">
<select name="schoolslug">
{% for school in object.school_set.all %}
	<option value="{{ school.url_name }}">{{ school.name }}</option>
{% endfor %}
<input type="submit" name="submitschool" value="Go">
</select>
</form>

<h2>Fees</h2>
<p>
Total Revenue: <br/>
Total Due: <br/>
</p>
<p>
<a href="invoices">All Invoices</a>
</p>

<h2>Conference Settings</h2>
<p><a href="#" id="basic-conference-form-dialog-link">Basic Conference Information</a></p>
<div id="basic-conference-form-dialog" title="Basic Conference Information"></div>

<p><a href="#" id="fee-form-dialog-link">Fee Structure</a></p>
<div id="fee-form-dialog" title="Conference Fee Structure"></div>

<p><a href="#" id="countries-form-dialog-link">Countries</a></p>
<div id="countries-form-dialog" title="Conference Countries"></div>

<p><a href="#" id="committees-form-dialog-link">Committees</a></p>
<div id="committees-form-dialog" title="Conference Committees"></div>

<p><a href="#" id="committees-to-countries-form-dialog-link">Assign committees to countries</a></p>
<div id="committees-to-countries-form-dialog" title="Assign committees to countries"></div>

<p><a href="#" id="countries-to-schools-form-dialog-link">Assign countries to schools</a></p>
<div id="countries-to-schools-form-dialog" title="Assign countries to schools"></div>

{% endblock %}
