{% extends "secretariat_base.html" %}

{% block headblock %}
	<script src="{{ MEDIA_URL }}/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>	
	<script type="text/javascript" src="{{ MEDIA_URL }}/dataTables.fnAddTr.js"></script>
	<script src="{{ MEDIA_URL }}/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/jquery.metadata.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/autoNumeric-1.5.4.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block scriptblock %}
var committeeTable;
var countryTable;

function form_cleanup() {
	$('input#id_date').datepicker();
	$('input.auto').each(function() {
		$(this).autoNumeric();
		$(this).val($.fn.autoNumeric.Format($(this).attr("id"), $(this).val()));
	});
}

function form_committee_row(committee) {
	var name;
	if(typeof( committee.fields ) != "undefined")
		name = committee.fields.name;
	else
		name = committee.name;

	row_html = "<tr pk=\"" + committee.pk + "\">";
	row_html += "<td class=\"name\" id=\"name_" + committee.pk + "\">" + name + "</td>";
	row_html += "<td class=\"delete\" id=\"" + committee.pk + "\"><a href=\"delete\" id=\"delete_committee\" class=\"ui-state-default ui-corner-all\" title=\"Delete\"><span class=\"ui-icon ui-icon-closethick\"></span></a></td></tr>";
	return row_html;
}

function form_country_row(country) {
	name = country.fields.name;
	icon = country.fields.flag_icon;

	row_html = "<tr pk=\"" + country.pk + "\">";
	row_html += "<td class=\"icon\" id=\"icon_" + country.pk + "\">";
	if(icon.length > 0)
		row_html += "<img src=\"{{ MEDIA_URL }}/" + icon + "\" height=\"22\"/>";
	row_html += "</td><td class=\"name\" id=\"name_" + country.pk + "\">" + name + "</td>";
	row_html += "<td class=\"delete\" id=\"" + country.pk + "\"><a href=\"delete\" id=\"delete_country\" class=\"ui-state-default ui-corner-all\" title=\"Delete\"><span class=\"ui-icon ui-icon-closethick\"></span></a></td></tr>";
	return row_html;
}

function get_formset_callback(data, table_headers, column_settings, column_sorting, data_table, object_name, dialog_element, form_element, row_renderer) {
    output = "<p>Click on any " + object_name + " name to edit it; press Enter to save your changes.</p>";
    output += "<table id=\"existing_" + object_name + "\"><thead><tr>";
    for(i = 0; i < table_headers.length; i++) {
    	output += "<th>" + table_headers[i] + "</th>";
    }
    output += "</tr></thead><tbody>";
    
    parsed_objects = jQuery.parseJSON(data.objects);
    for (i = 0; i < parsed_objects.length; i++) {
        output += row_renderer(parsed_objects[i]);
    }
    output += "</tbody></table>";
    
    output += "<p>Add " + object_name + ":</p>";
    output += "<form enctype=\"multipart/form-data\" action=\"ajax/add-"+object_name+"\" method=\"post\" id=\"" + form_element.replace('#','') + "\">";
    output += data.form;
    output += "<input value=\"Add\" type=\"submit\" id=\"add_" + object_name + "\">";
    output += "</form>";
	
    $(dialog_element).html(output);
    $("input:submit").button();
    
    $(form_element).ajaxForm({ 
    	dataType:	'json',
        success:   function(return_data) {
			if(return_data != null && return_data.form != null) {
	  			// re-load form with errors
				decoded = $('<textarea/>').html(return_data.form).val();
		        $(form_element).html(decoded);
	  			$(form_element).append("<input value=\"Add\" type=\"submit\" id=\"add_" + object_name + "\">");
	  		    $("input:submit").button();
			} else {
				// add the new object to the table
				$(form_element).resetForm();
				var row = row_renderer(return_data);
				data_table.fnAddTr( $(row)[0] );
			}
		}
    });
    
	$('a#delete_'+object_name).click(function(event) {
		$.post(
			'ajax/remove-'+object_name,
			{'pk': $(event.target.parentNode.parentNode).attr("id")},
			function(data) {
				var aTrs = data_table.fnGetNodes();
				for ( var i=0 ; i<aTrs.length ; i++ )
				{
					if ( $(aTrs[i]).attr('pk') == data.pk )
					{
						data_table.fnDeleteRow( aTrs[i] );
						break;
					}
				}
			},
			'json'
		);
		return false;
	});
    
	data_table = $('table#existing_'+object_name).dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"aoColumns": column_settings,
		"aaSorting": column_sorting
	});
	
	/* Apply the jEditable handlers to the table */
	$('td.name', data_table.fnGetNodes()).editable( 'ajax/edit-'+object_name, {
		"callback": function( sValue, y ) {
			var aPos = data_table.fnGetPosition( this );
			data_table.fnUpdate( sValue, aPos[0], aPos[1] );
		},
		"submitdata": function ( value, settings ) {
			return { "row_id": this.parentNode.getAttribute('id') };
		},
		"height": "20px"
	} );	
}

function form_dialog(dialog_width, dialog_element, dialog_link_element, form_element, ajax_get_url) {
	$(dialog_element).dialog({
		autoOpen: false,
		width: dialog_width,
		modal: true,
		resizable: false,
		buttons: {
			"Save": function() {
				$('input.auto').each(function() {
					$(this).val($.fn.autoNumeric.Strip($(this).attr("id"), $(this).val()));
				});

		 		$(form_element).ajaxSubmit({
		 			dataType:	'json',
		 			success:	function(data) {
						if(data != null && data.form != null) {
				  			// re-load form with errors
				  			$(form_element).html(data.form);
				  			form_cleanup();
						} else {
							$(dialog_element).dialog("close");
							$(dialog_element).html("");
						}
					}
		 		}); 
			},
			"Cancel": function() {
				$(this).dialog("close");
				$(dialog_element).html("");
			}
		}
	});
		  
	$(dialog_link_element).click(function(){
		$.get(
			"ajax/" + ajax_get_url,
			function(data) {
	  			$(dialog_element).html(data.form);
	  			form_cleanup();
			},
			"json"
		);
	
		$(dialog_element).dialog('open');
		return false;
	});
}

function formset_dialog(dialog_width, dialog_element, dialog_link_element, form_element, ajax_get_url, table_headers, column_settings, column_sorting, data_table, object_name, row_renderer) {
	$(dialog_element).dialog({
		autoOpen: false,
		width: dialog_width,
		modal: true,
		resizable: false,
		buttons: {
			"Close": function() {
				$(this).dialog("close");
				$(dialog_element).html("");
			}
		}
	});
		  
	$(dialog_link_element).click(function(){
		$.get(
			"ajax/" + ajax_get_url,
			function(data) {
				if(get_formset_callback != undefined)
					get_formset_callback(data, table_headers, column_settings, column_sorting, data_table, object_name, dialog_element, form_element, row_renderer);
			},
			"json"
		);
	
		$(dialog_element).dialog('open');
		return false;
	});
}

$(function(){

	$('#tab-links a').click(function() {
		$('.secretariat-pane').hide();
		$('#' + $(this).attr("href")).show();
		return false;
	});

	form_dialog(500, '#basic-conference-form-dialog', '#basic-conference-form-dialog-link', '#basic_conference_info_form', "get-basic-conference-form");

	form_dialog(500, '#fee-form-dialog', '#fee-form-dialog-link', '#fee_structure_info_form', "get-fee-structure-form");

	committeeHeaders = ['Name','Delete'];
	committeeColumnSettings = [ 
	               			/* Name */  	null,
	            			/* Delete */ 	{ "bSearchable": false, "bSortable": false }
	            		];
	committeeColumnSorting = [[ 0, "asc" ]]
	formset_dialog(800, '#committees-form-dialog', '#committees-form-dialog-link', '#new_conference_committees_form',
		"get-conference-committees", committeeHeaders, committeeColumnSettings, committeeColumnSorting, committeeTable, 'committee', form_committee_row);

	countryHeaders = ['Flag','Name','Delete'];
	countryColumnSettings = [ 
	             			/* Icon */  	{ "bSearchable": false, "bSortable": false },
	            			/* Name */  	null,
	            			/* Delete */ 	{ "bSearchable": false, "bSortable": false }
	            		];
	countryColumnSorting = [[ 1, "asc" ]]
	formset_dialog(800, '#countries-form-dialog', '#countries-form-dialog-link', '#new_conference_countries_form',
		"get-conference-countries", countryHeaders, countryColumnSettings, countryColumnSorting, countryTable, 'country', form_country_row);

	var availableSchools = [{% for school in object.school_set.all %}
				"{{ school.name }}", 
			{% endfor %}];
	$(".search-schools input#id_name").autocomplete({
		source: availableSchools
	});

        $('#committees-to-countries-form-dialog').dialog({
            autoOpen: false,
            width: 400,
            modal: true,
            resizable: false,
            buttons: {
                "Save": function() {
                	data = $('#conference_committees_to_countries_form').serializeObject(true);
                   	Dajaxice.regimun_app.save_conference_committees_to_countries_form('Dajax.process', {'form':data,'conference_pk': {{object.pk}}});
                   	$(this).dialog("close");
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });
        
        $('#committees-to-countries-form-dialog-link').click(function(){
			Dajaxice.regimun_app.get_conference_committees_to_countries_form('Dajax.process', {'conference_pk': {{object.pk}}});
			$('#committees-to-countries-form-dialog').dialog('open');
			return false;
		});

        $('#countries-to-schools-form-dialog').dialog({
            autoOpen: false,
            width: 400,
            modal: true,
            resizable: false,
            buttons: {
                "Save": function() {
                	data = $('#conference_countries_to_schools_form').serializeObject(true);
                   	Dajaxice.regimun_app.save_conference_countries_to_schools_form('Dajax.process', {'form':data,'conference_pk': {{object.pk}}});
                   	$(this).dialog("close");
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });
        
        $('#countries-to-schools-form-dialog-link').click(function(){
			Dajaxice.regimun_app.get_conference_countries_to_schools_form('Dajax.process', {'conference_pk': {{object.pk}}});
			$('#countries-to-schools-form-dialog').dialog('open');
			return false;
		});
				
});

{% endblock %}

{% block pagecontent %}
<h1>{{ object.name }} Secretariat Dashboard</h1>

<h2>Stats</h2>
{% if object.delegates %}
Registered delegates: {{ object.delegates|length }}
{% else %}
No registered delegates.
{% endif %}

<div id="tab-links">
	<a href="spreadsheets">Spreadsheets</a> / 
	<a href="schools">Schools</a> / 
	<a href="fees">Fees</a> / 
	<a href="settings">Settings</a> 
</div>
	
<div id="spreadsheets" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	<a href="downloads/?sponsor-contacts">Sponsor Contact Info Spreadsheet</a><br/>
	<a href="downloads/?delegates">Delegates Spreadsheet</a><br/>
	<br/>
	<a href="downloads/?school-country-assignments">School-Country Assignments</a><br/>
	<a href="downloads/?country-committee-assignments">Country-Committee Assignments</a><br/>
</div>

<div id="schools" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
Search:
	<form method="post" action="see-school" class="search-schools">
		<input id="id_name" name="name"/>
		<input type="submit" name="submitschool" value="Go">
	</form>

Select from list:
	<form method="post" action="see-school">
		<select id="id_name" name="name">
			{% for school in object.school_set.all %}
				<option value="{{ school.name }}">{{ school.name }}</option>
			{% endfor %}
		</select>
		<input type="submit" name="submitschool" value="Go">
	</form>
</div>

<div id="fees" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	<p>
	Total Revenue: <br/>
	Total Due: <br/>
	</p>
	<p>
	<a href="invoices">All Invoices</a>
	</p>
</div>

<div id="settings" class="secretariat-pane ui-widget ui-widget-content ui-corner-all" style="display: none">
	<p><a href="#" id="basic-conference-form-dialog-link">Basic Conference Information</a></p>
	<div id="basic-conference-form-dialog" title="Basic Conference Information"></div>
	
	<p><a href="#" id="fee-form-dialog-link">Fee Structure</a></p>
	<div id="fee-form-dialog" title="Conference Fee Structure"></div>
	
	<p><a href="#" id="countries-form-dialog-link">Countries</a></p>
	<div id="countries-form-dialog" title="Conference Countries"></div>
	
	<p><a href="#" id="committees-form-dialog-link">Committees</a></p>
	<div id="committees-form-dialog" title="Conference Committees"></div>
	
	<p><a href="#" id="committees-to-countries-form-dialog-link">Assign committees to countries</a></p>
	<div id="committees-to-countries-form-dialog" title="Assign committees to countries"></div>
	
	<p><a href="#" id="countries-to-schools-form-dialog-link">Assign countries to schools</a></p>
	<div id="countries-to-schools-form-dialog" title="Assign countries to schools"></div>
</div>

{% endblock %}
