{% extends "school_base.html" %}

{% block scriptblock %}

function toggle_school_mailing_address_buttons() {
	$('#edit_mailing_address').toggle();
	$('#save_mailing_address').toggle();
	$('#cancel_mailing_address').toggle();
}

function switch_to_school_mailing_address_form(data) {
	if(data!=Dajaxice.EXCEPTION){
		output = "<div id=\"mailing_address\"><form action=\"\" method=\"post\" id=\"school_mailing_address_form\">";
		output += data.form;
		output += "</form></div>";
		$('#mailing_address').replaceWith(output);
		toggle_school_mailing_address_buttons();
	}
	else{
		alert('Error');
	}
}

function send_school_mailing_address_form() {
	data = $('#school_mailing_address_form').serializeObject(true);
	Dajaxice.django_regimun.regimun_app.save_school_mailing_address_form('Dajax.process', {'form':data,'school_pk':{{ school.pk }}});
}

function new_school_mailing_address(data) {
	if(data!=Dajaxice.EXCEPTION){
		output = "<div id=\"mailing_address\">";
		output += data;
		output += "</div>";
		$('#mailing_address').replaceWith(output);
		toggle_school_mailing_address_buttons();
	}
	else{
		alert('Error');
	}
}

$(function(){
	// Tabs
	$('#tabs').tabs();
});

{% endblock %}

{% block pagecontent %}
<h1>{{ conference.name }} Conference Registration</h1>
Registration for <b>{{ school.name }}</b><br/>

<div id="tabs">
	<ul>
		<li><a href="#contacts">Contacts</a></li>
		<li><a href="#delegations">Delegations</a></li>
		<li><a href="#fees">Fees</a></li>
	</ul>

<div id="contacts">

<h3>School Mailing Address</h3>
<div id="mailing_address">
<p>{% autoescape off %}{{ school.get_html_mailing_address }}{% endautoescape %}</p>
</div>
<p>
<button id="edit_mailing_address" class="button" onclick="Dajaxice.django_regimun.regimun_app.get_school_mailing_address_form('switch_to_school_mailing_address_form',{'school_pk':{{ school.pk }}})">Edit</button>
<button id="save_mailing_address" class="button" style="display: none" onclick="send_school_mailing_address_form()">Save</button>
</p>

<h3>Faculty Sponsors</h3>
{% for sponsor in school.facultysponsor_set.all %}
	<b>{{ sponsor.user.get_full_name }} </b>
	{% if sponsor.user.username == user.username %}
		<small><i>(This is you)</i></small>
	{% endif %}
	<br/>
	E-mail Address: <a href="mailto:{{sponsor.user.email}}">{{ sponsor.user.email }}</a><br/>
	Phone Number: {{ sponsor.phone }}<br/>

	<!-- edit sponsor popup -->
	<div id='mypopup' name='mypopup' style='position: absolute; width: 250px; height: 200px; display: none; background: #ddd; border: 1px solid #000;'>
	<p>My content that will be displayed in the popup</p>
	<input type='submit' value=' Close me! ' onClick='document.getElementById("mypopup").style.display="none"'>
	</div>
	<small><a href="javascript:fireEditSponsor()">Edit</a> / <a href="javascript:fireRemoveSponsor()">Remove</a></small>
{% endfor %}
<br/><br/>

<a href="javascript:fireAddSponsor()">Add Sponsor</a>
</div>
<div id="delegations">

{% for country,positions in school.get_delegations.items %}
	<p><b>{{ country.name }}</b></p>
	{% for position in positions %}
		{% if position.first_name %}
			<!-- Delegate object -->
			{{ position.position_assignment.committee.name }} ({{ position.position_assignment.title }}): {{ position.get_full_name }} 
			<small><a href="javascript:fireEditDelegate()">Edit</a> / <a href="javascript:fireRemoveDelegate()">Remove</a></small>
		{% else %}
			<!-- DelegatePosition object -->
			{{ position.committee.name }} ({{ position.title }}): No delegate registered
			<small><a href="javascript:fireAddDelegate()">Register</a></small>
		{% endif %}
		<br/>
	{% empty %}
		No positions have been assigned to this country.<br/>
	{% endfor %}
{% empty %}
	No countries have been assigned to your school.
{% endfor %}
</div>
<div id="fees">

<p><a href="invoice">Download Invoice</a></p>
</div>
</div>

{% endblock %}
