<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--  No MEDIA_URL (HTTP 500 does not get request context) -->
	<link type="text/css" rel="stylesheet" href="/media/css/custom-theme/jquery-ui-1.8.4.custom.css" />
	<link type="text/css" rel="stylesheet" href="/media/css/base.css" />
	{% block headblock %}{% endblock %}
</head>
<body>
<div class="ui-widget" style="width:400px; margin:50px auto;">	
	<div class="ui-state-error ui-corner-all no-javascript" style="padding: 0pt 0.7em; font-size: 14px;">
		<p>
		<span style="float: left; margin-right: 1em;" class="ui-icon ui-icon-alert"></span>
		{% block error %}{% endblock %}
		</p>
	</div>
</div>

</body>
</html>
